<div>
  <label for="interval">
    Please input the number of time in seconds between emitting numbers and their frequency:
  </label>
  <input id="interval" type="number" [(ngModel)]="frequency" [disabled]="running">
  <div style="margin-top: 15px;">
    <button [disabled]="started || frequency <= 0" (click)="startTimer()">Start</button>
    <button [disabled]="!started" (click)="pause()" style="margin-left: 10px;">{{ pauseButtonText }}</button>
    <button [disabled]="!started" (click)="quit()" style="margin-left: 10px;">Quit</button>
  </div>
  <div style="margin-top: 15px;" *ngIf="running">
    <label for="userInput">
      Please enter the next number:
    </label>
    <input #userInput id="userInput" type="number" (keyup)="clearFib()">
    <button (click)="addInput()" style="margin-left: 10px;">Submit</button>
    <span *ngIf="error" style="margin-left: 10px;">{{ error }}</span>
  </div>
  <div style="margin-top: 15px;" *ngIf="showFib">FIB</div>
  <div style="margin-top: 15px;" *ngIf="running && summary !== ''">{{ summary }}</div>
  <div style="margin-top: 15px;" *ngIf="showDoneMessage">Thanks for playing!</div>
</div>

